<div class="product-form">
    <form #productForm="ngForm" (ngSubmit)="updateProduct(productForm.value)">
      <div class="container-fluid">
        <h3 class="p-2">Update Product</h3>
        <p>Please enter details correctly to update this product.</p>
        <hr>
        <label for="name"><b>Name</b></label>
        <input type="text" class="form-control" name="name" ngModel="{{product.product.name}}" >
  
        <label for="category"><b>Category</b></label>
        <input type="text" class="form-control" name="category" ngModel="{{product.product.category}}">
  
        <label for="price"><b>Price</b></label>
        <input type="number" class="form-control"  name="price" ngModel="{{product.product.price}}">
  
        <label for="description"><b>Description</b></label>
        <textarea type="text" class="form-control" name="description" ngModel="{{product.product.description}}"></textarea>
  
        <label for="stock"><b>Stock</b></label>
        <input type="number" class="form-control"  name="stock" ngModel="{{product.product.stock}}">
  
        <hr>
        <button type="submit" class="btn btn-sm btn-outline-success my-3">Update</button>
      </div>
    </form>
  </div>

  