<div class="container">
    
    <div class="card">
      <img src="https://lh3.googleusercontent.com/ytP9VP86DItizVX2YNA-xTYzV09IS7rh4WexVp7eilIcfHmm74B7odbcwD5DTXmL0PF42i2wnRKSFPBHlmSjCblWHDCD2oD1oaM1CGFcSd48VBKJfsCi4bS170PKxGwji8CPmehwPw=w200-h247-no" alt="Person" class="card__image">
      <p class="card__name">{{user.name}}</p>
      <div class="">
        {{user._id}}
        <hr>
        {{user.email}}
  
      </div>
      <a routerLink="/myorders"><button class="btn draw-border">My Orders</button></a>
      <div *ngIf="admin">
        <button class="btn draw-border"><a routerLink="/admin" style="text-decoration:none; color: #55d7dc;">
            Admin Dashboard
        </a></button>
      </div>
    </div>
  </div>


  