<div class="card m-auto p-3 my-5" style="max-width: 1000px;" *ngIf="product">
    <div class="row g-0">
      <div class="col-md-12 image-div">
            <img  [src]="product.imagePath" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-12">
        <div class="card-body">
            <table class="table">
                <thead  *ngIf="product">
                  <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col"> {{product._id}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>{{product.name}}</td>
                  </tr>
                  <tr>
                    <td>Description</td>
                    <td>{{product.description}}</td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td>{{product.price | currency:'INR'}}</td>
                  </tr>
                  <tr>
                    <td>Category</td>
                    <td>{{product.category}}</td>
                  </tr>

                  <tr>
                    <td>Stock</td>
                    <td>{{product.stock}}</td>
                  </tr>

                  <tr>
                    <td>Updated At</td>
                    <td>{{product.createdAt}}</td>
                  </tr>

                  <tr>

                    <td>
                      <div class="quantity-group">
                        <button (click)="quantity('min')" class="btn btn-sm btn-success">-</button>
                        <input class="w-25 mx-2" type="text" value="{{productQuantity}}">
                        <button (click)="quantity('plus')" class="btn btn-sm btn-success">+</button>
                      </div>
                    <td><button class="btn btn-sm btn-warning" (click)="addToCart(product)" *ngIf="!remove"> Add to Cart</button>
                    <button (click)="removeItem(product)" class="btn btn-danger btn-sm" *ngIf="remove" >remove</button></td>
                   </tr>

                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>

