
<app-carousal [item]="trendy"></app-carousal>

<div class="products my-4 container">
     <div *ngFor="let item of productList | paginate:{  
        itemsPerPage:tableSize,
        currentPage:page,
        totalItems:count};
        let i=index" style="display:inline ;">
        <app-product-card [item]="item"></app-product-card>
     </div>

     <div class="d-flex justify-content-center pagination container">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>

</div>