<div class="main">
  <div class="grid-container">
    <a routerLink="products">
       <div class="grid-item">
           <div class="card">
               <img src="../../../assets/product.png" alt="Avatar" style="width:100%">
               <div class="container">
                 <h4><b>Products</b></h4> 
               </div>
             </div> 
       </div>
    </a>
    <a routerLink="add-product">
       <div class="grid-item">
           <div class="card">
               <img src="../../../assets/addprod.png" alt="Avatar" style="width:100%">
               <div class="container">
                 <h4><b>Add Product</b></h4> 
               </div>
             </div> 
       </div>
    </a>
    <a routerLink="orders">
      <div class="grid-item">
        <div class="card">
            <img src="../../../assets/order.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Orders</b></h4> 
      
            </div>
          </div> 
    </div>  
    </a>
     <a routerLink="users">
      <div class="grid-item">
        <div class="card">
            <img src="../../../assets/user.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Users</b></h4> 
            </div>
          </div> 
    </div>
     </a>
 </div>
</div>


     