<div class="container my-4">
<div class="row">
  <div class="col-75">
    <div class="container" *ngIf="countCart">
        <form #shipping="ngForm">
      
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            
            <input type="text" id="fname" name="name" placeholder="Mr. Shahid" ngModel>

            <label for="email"><i class="fa fa-envelope"></i> Email</label>

            <input type="text" id="email" name="email" placeholder="shahid@example.com"  ngModel>

            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>

            <input type="text" id="adr" name="address" placeholder="15 Zoo Road Tiniali" ngModel>

            <label for="city"><i class="fa fa-institution"></i> City</label>

            <input type="text" id="city" name="city" placeholder="Guwahati" ngModel>

            <label for="mobile"><i class="fa fa-mobile"></i>Mobile</label>
            <input type="text" id="mobile" name="phoneNo" placeholder="919876543210" ngModel>

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="Assam" ngModel>
              </div>
              <div class="col-50">
                <label for="zip">Pincode</label>
                <input type="text" id="zip" name="pincode" placeholder="781001" ngModel>
              </div>
            </div>
          </div> 
          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Method</label>
            <div class="icon-container">
              <i class="fa fa-truck"><strong class="mx-2">Pay on Delivery</strong></i>
            </div>
          </div>    
        </div>
  
        <input type="submit" value="Place Order" class="btn" (click)="placeOrder(shipping.value)">
        </form>

    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>{{countCart}}</b></span></h4>
      <p *ngFor="let item of products">{{item.name}}<span class="price">{{item.total | currency:'INR'}}</span></p>
      <hr>
      <p>Total <span class="price" style="color:black"><b>{{grandTotal | currency:'INR'}}</b></span></p>
    </div>
  </div>
</div>
</div>