.card img{
    height: 200px;
    width: 200px;
}

.results{
    margin-top: 20px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}