<div class="results">
    <h2>Results</h2>
    <div *ngIf="products">

        <div class="card mb-3" style="max-width:70rem;" *ngFor="let item of products">
           <a routerLink="/product/{{item._id}}">
            <div class="row g-0">
                <div class="col-md-2">
                  <img src="{{item.imagePath}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text"> {{item.description | slice:0:100}}</p>
                    <p class="card-text"> <strong>{{item.price|currency:'INR'}}</strong></p>      
                  </div>
                </div>
              </div>
           </a>
          </div>
    </div>
    <div *ngIf="products<=0">
        
        <h3 style="color: red;">No Items Found</h3>

    </div>
</div>