<div class="product-form">

    <form>
      <h3 class="p-2">Create Product</h3>
      <p>Please fill in this form to create a product.</p>
      <hr>
      <label for="name"><b>Name</b></label>
      <input type="text" class="form-control" placeholder="Enter Name" name="name" [(ngModel)]="product.name">
  
      <label for="category"><b>Category</b></label>
      <input type="text" class="form-control" placeholder="Enter Category" name="category" [(ngModel)]="product.category">
  
      <label for="price"><b>Price</b></label>
      <input type="number" class="form-control" placeholder="Enter Price" name="price" [(ngModel)]="product.price">
  
      <label for="description"><b>Description</b></label>
      <textarea type="text" class="form-control" placeholder="Enter Description" name="description" [(ngModel)]="product.description"></textarea>
  
      <label for="stock"><b>Stock</b></label>
      <input type="number" class="form-control" placeholder="Enter Stock" name="stock" [(ngModel)]="product.stock">
  
      <label for="image"><b>Image</b></label>
      <input type="file" class="form-control" (change)="onChange($event)">
  
      <button class="btn btn-primary btn-sm my-2" (click)="createProduct()">Create Product</button>
  
    </form>

</div>


