<div class="main" id="print">
    <div class="info" >
        <h2>Shipping Info</h2>  
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">{{order.shippingInfo.name}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
          
                <th scope="col">Address</th>
                <th scope="col">{{order.shippingInfo.address}}</th>
              </tr>
              <tr>
              
                <th scope="col">Email</th>
                <th scope="col">{{order.shippingInfo.email}}</th>
              </tr>
              <tr>
            
                <th scope="col">City</th>
                <th scope="col">{{order.shippingInfo.city}}</th>
              </tr>
              <tr>
                
                <th scope="col">Pincode</th>
                <th scope="col">{{order.shippingInfo.pincode}}</th>
              </tr>
              <tr>
                
                <th scope="col">Mobile</th>
                <th scope="col">{{order.shippingInfo.phoneNo}}</th>
              </tr>
              <tr>
                
                <th scope="col">State</th>
                <th scope="col">{{order.shippingInfo.state}}</th>
              </tr>
            </tbody>
          </table>
    
    </div>
    
    <div class="info">
        <h2>Order Info</h2>
        
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#Order ID</th>
                <th scope="col">{{order._id}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
          
                <th scope="col">#User ID</th>
                <th scope="col">{{order.user}}</th>
              </tr>
              <tr>
              
                <th scope="col">Total Orders</th>
                <th scope="col">{{order.orderItems.length}}</th>
              </tr>
              <tr>
            
                <th scope="col">Total Price</th>
                <th scope="col">{{order.totalPrice | currency:'INR'}}</th>
              </tr>
              <tr>
                
                <th scope="col">Order Date</th>
                <th scope="col">{{order.createdAt | date}}</th>
              </tr>
              <tr>
                
                <th scope="col">Status</th>
                <th scope="col">{{order.orderStatus}}</th>
              </tr>
              <tr>
                
                <th scope="col">is Delivered?</th>
                <th scope="col"> <select name="orderStatus">
                    <option selected value="Processing">No</option>
                    <option value="Delivered">Yes</option>
                  </select>
                  </th>
              </tr>
            </tbody>
          </table>
    
    </div>
</div>

<div class="print-button">
    <button class="btn btn-success" [useExistingCss]="true" printSectionId="print" ngxPrint>print</button> 
</div>

