<div class="user-auth">


  <div *ngIf="!showLogin" class="register-login-div">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
      <div class="container">
        <h3 class="p-2">Register</h3>
        <p>Please fill in this form to create an account.</p>
    
        <hr>
        <label for="name"><b>Name</b></label>
        <input type="text" class="form-control" placeholder="Enter User Name" name="name" ngModel required>

        <label for="email"><b>Email</b></label>
        <input type="email" class="form-control" placeholder="Enter Email" name="email" ngModel #email="ngModel" required>
        
        <div class="text-danger" *ngIf="email.invalid && email.touched">Please Enter Valid Email </div>
        
        <label for="psw"><b>Password</b></label>
        <input type="password" class="form-control" placeholder="Enter Password" name="password" ngModel #password="ngModel" required>
        <div class="text-danger" *ngIf="password.invalid && password.touched">Please Enter Password </div>

        <hr>
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

        <button type="submit" [disabled]="registerForm.invalid" class="registerbtn">Register</button>
      </div>

      <div class="container signin p-3">
        <p>Already have an account?<a (click)="openLogin()">Click Here</a> </p>
      </div>
    </form>
  </div>

  <div *ngIf="showLogin" class="register-login-div">

    <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
      <div class="container">
        <h3 class="p-2">Login</h3>
        <label for="email"><b>Email</b></label>
        <input type="email" class="form-control" placeholder="Enter Email" name="email" ngModel #email="ngModel" required>

        <div class="text-danger" *ngIf="email.invalid && email.touched">Please Enter Valid Email </div>
        <label for="psw"><b>Password</b></label>

        <input type="password" class="form-control" placeholder="Enter Password" name="password" ngModel
          #password="ngModel" required>

        <div class="text-danger" *ngIf="password.invalid && password.touched">Please Enter Valid Password </div>
        <button type="submit" [disabled]="userLogin.invalid" class="registerbtn">Login</button>
      </div>

      <div class="container signin p-3">
        <p>Already have an account?<a (click)="openSignUp()">Click Here</a> </p>
      </div>
    </form>
  </div>
</div>