<div class="main">
  <h1>Products</h1>
  <table>
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of allProd | paginate:{  
        itemsPerPage:tableSize,
        currentPage:page,
        totalItems:count};
        let i=index">
        <td>{{item._id}}</td>
        <td>{{item.name | slice:0:15}}</td>
        <td>{{item.category}}</td>
        <td>{{item.description | slice:0:7}}..</td>
        <td>{{item.price | currency:'INR'}}</td>
        <td>
           <button class="btn btn-sm btn-warning"><a routerLink="update/{{item._id}}">Edit</a></button>
           <button class="btn btn-sm btn-success mx-1"><a routerLink="view/{{item._id}}">View</a></button>
           <button class="btn btn-sm btn-danger mx-1" (click)="deleteProduct(item._id)">Delete</button>
        </td>
      </tr>
    </tbody>
</table>

  <div class="d-flex justify-content-center pagination container my-4">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
      


