<!-- <div class="sidebar-container">
 <ul>
   <li><a routerLink="/admin">Home</a></li>
    <li><a >Create Product</a></li>
    <hr>
    <li><a routerLink="users">Users</a></li>
    <hr>
 </ul>
</div> -->


<div class="area"></div>
  <nav class="main-menu">
    <ul>
      <li>
        <a routerLink="/admin">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Admin Dashboard
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a routerLink="add-product">
          <i class="fa fa-plus fa-2x"></i>
          <span class="nav-text">
            Add Product
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a routerLink="products">
          <i class="fa fa-shopping-bag fa-2x"></i>
          <span class="nav-text">
            Products
          </span>
        </a>

      </li>

      <li class="has-subnav">
        <a routerLink="users">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
            Users
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a routerLink="orders">
          <i class="fa fa-truck fa-2x"></i>
          <span class="nav-text">
            Ordes
          </span>
        </a>

      </li>

    </ul>

    <ul class="logout">
      <li>
        <a (click)="logout()">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
